services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: effective-mobile-backend
    networks:
      - app-network
    expose:
      - "8080"
    restart: unless-stopped

  nginx:
    image: nginx:1.25-alpine
    container_name: effective-mobile-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

